{% extends 'base.html.twig' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success"> {{ flashMessage }} </div>
    {% endfor %}
    <h3 class="page-header">Category</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Parent id</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in todo %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.parentId }}</td>
                <td>
                    <a href="/symfony2/web/app_dev.php/category/detail/{{ item.id }}" class="btn btn-success">View</a>
                    <a href="/symfony2/web/app_dev.php/category/edit/{{ item.id }}" class="btn btn-default">Edit</a>
                    <a href="/symfony2/web/app_dev.php/category/delete/{{ item.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}